.App {
  margin-top: 15px;

}

.App .navbar-brand {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #575757;
}

.right-nav {
  margin-right: 12px;
  cursor: pointer;
  color: #474747;
}

.library-button {
  margin-right: 5%;
}


.no-select {
  user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.27);
  border-color: rgba(223,225, 229,0); */
  box-shadow: none;
  border-color: #ccc; 
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}


.tooltip-custom {
  color: #5F6368 !important;
  background-color: #f5f5f5 !important;

  border-top-color: #f5f5f5 !important;
  border-top-style: solid !important;     
}

.tooltip-custom:before {
  border-top-color: #f5f5f5 !important;
  border-top-style: solid !important;
}


.tooltip-custom:after {
  border-top-color: #f5f5f5 !important;
  border-top-style: solid !important;
   
}