.btn-invisible {
    visibility: hidden;
    font-size: 110% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
}

.btn-exists {
    background-color: white !important;
    color: #1aa159 !important;
    font-size: 110% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
}

.btn-exists:focus {
    outline: none !important;
    box-shadow: none !important;
    color: #1aa159 !important;
} 

.btn-exists:hover {
    outline: none !important;
    box-shadow: none !important;
    color: #1aa159 !important;
} 

.btn-note {
    background-color: white !important;
    color: #888888 !important;
    font-size: 100% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
}

.btn-note:focus {
    outline: none !important;
    box-shadow: none !important;
    color: #888888 !important;
} 

.btn-note:hover {
    outline: none !important;
    box-shadow: none !important;
    color: #676767 !important;
} 

.note-tooltip {
    font-weight: 400;
}


.btn-unselected-star {
    background-color: white !important;
    color: #999 !important;
    font-size: 100% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
    padding: 0 2px;
}

.btn-unselected-star:focus {
    outline: none !important;
    box-shadow: none !important;
    color: #999 !important;
    padding: 0 2px;
} 

.btn-unselected-star:hover {
    outline: none !important;
    box-shadow: none !important;
    color: #999 !important;
    padding: 0 2px;
} 

.btn-selected-star {
    background-color: white !important;
    color: rgba(235, 208, 0, 0.838) !important;
    font-size: 100% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
    padding: 0 2px;
}

.btn-selected-star:focus {
    outline: none !important;
    box-shadow: none !important;
    color: rgba(228, 209, 0, 0.808)  !important;
    padding: 0 2px;
} 

.btn-selected-star:hover {
    outline: none !important;
    box-shadow: none !important;
    color: rgba(228, 209, 0, 0.808)  !important;
    padding: 0 2px;
} 

.five-star-button-bar {
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
}

