.loading {
    margin-top: 50px;
    color: #999;
    text-align: center;
}

.loaded {
    margin-top: 50px;
    color: #999;
    text-align: center;
}

.load-more {
  margin-top: -10px;
  margin-bottom: 80px;
  color: #999;
  text-align: center;
  cursor: pointer;
}

.clear-search {
  color: #777;
  margin-top: -10px;
  cursor: pointer;
  font-size: 85%;
  font-weight: 600;
}

.spinning {
    margin-right: 6px;
    top: 2px;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }

