.results-outer {
    margin-top: 10px;
}

.search-result-col {
    margin-top:10px;
    /* height: 250px; */
}

.results-details {
    text-align: center;
    margin: 0 auto;
}

.search-result-buttons {
    margin-top: 0;
}

.timestamp {

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    z-index: 999999999;
    color: #999;
    margin-bottom: 0px;
    margin-top: 0px !important;
    text-align: right;
    font-weight: 500;
}