.search-result-outer {
    /* text-align: center; */
    outline: none;
    border: none;
    /* background-color: #fcfcfc; */
}

.search-result-cover {
    float: left;
    display: block;
    margin-right: 20px;
    margin-bottom: 10px;
    /* width: 128px;
    height:200px; */
    width: 20%;
    height: auto;
    border-radius: 2px;
    cursor: pointer;
}

.search-result-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
}
  
.search-result-author {
    color: #999;
    font-size: 16px;
    cursor: pointer;
}

.search-result-body {
    margin-top:10px;
    font-size: 13px;
    cursor: pointer;
}

.btn-search-result {
    background-color: white !important;
    color: #878787 !important;
    font-size: 110% !important;
    outline: 0 !important;
    box-shadow: 0 !important;
}

.btn-search-result:focus {
    outline: none !important;
    box-shadow: none !important;
    color: #878787 !important;
} 

.btn-search-result:hover {
    outline: none !important;
    box-shadow: none !important;
    color: #676767 !important;
} 


.search-button-bar {
    width: 100px;
    height: 36px;
    /* background-color: blue; */
    
    float: right;
    /* margin-right: 30px; */
    margin-top: -7px;
    text-align: right;
}

.search-button-bar button:disabled {
    cursor: not-allowed;
}

