.Library .lander {
  padding: 100px 0 0 0;
  text-align: center;
  transition: padding 1s;
}
  
.Library .lander.has-results {
  padding: 10px 0 0 0;
}

.Library .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Library .lander p {
  color: #999;
}

.not-logged-in-msg {
  font-size: 13px;
  color: #777;
  margin-top: 15px;
  text-align: center;
  line-height: 24px;
  /* margin-bottom: 0; */
  /* margin-top:-7px; */
}

.not-logged-in-msg span a {
  cursor: pointer;
  font-weight: bold;
  color:#777;
  text-decoration: none;
}